* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  max-width: 180rem;
}

.main-section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  width: 100%;
}

.header img {
  width: 7rem;
  /* mix-blend-mode: darken; */
}

.btn {
  padding: 1rem 5rem;
  background-color: #0e1f30;
  color: gold;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  outline: none;
}

.btn:hover {
  background-color: #00827f;
  color: #fff;
  transition: 0.7s;
}

.btn:nth-child(1) {
  border-radius: 1.5rem 0 0 1.5rem;
}

.btn:last-child {
  border-radius: 0 1.5rem 1.5rem 0;
}

/* .navigation {
  background-color: yellow;
  width: 50%;
  height: 100vh;
  position: absolute;
  left: 50%;
} */

.burger-bars {
  /* background-color: greenyellow; */
  float: right;
  height: 3rem;
  width: 4rem;
  display: flex;
  /* flex-flow: column nowrap; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  margin-top: 4rem;
  left: 85%;
  /* visibility: hidden; */
  z-index: 2;
  cursor: pointer;
  display: none;
}

.menue-bars {
  width: 100%;
  height: 0.4rem;
  background-color: gold;
  margin-bottom: 0.1rem;
}


.clicked {
  background-color: purple;

}

.clicked:first-child {
  transform: rotateX('45deg');
}

.visible {
  visibility: visible;
}

@media (min-width: 300px) and (max-width: 900px) {
  .btn {
    visibility: hidden;
  }

  .burger-bars {
    display: flex;
  }
}